div(class="capture")
  div(class="container")
    div(class="capture__content")
      h2(class="capture__title") Capture the moment
      p(class="capture__description") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat.
  div(class="capture__visual")
    div(class="capture__shape")
    div(class="capture__wrapper")
      div(class="capture__window")
      div(class="capture__window2")
      video(class="capture__source" autoplay loop playsinline src="assets/video/capture-the-moment.mp4")