div(class="design-black")
  div(class="container container--right")
    div(class="design-black__content")
      h2(class="design-black__title")
        span Very,  
        span very 
        span black
      p(class="design-black__description") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat.
  div(class="design-black__visual")
    img(data-src="assets/img/gopro-black.jpg" class="design-black__source lazyload")
  div(class="design-black__windows")