div(class="footer")
  div(class="container")
    div(class="footer__content")
      h2(class="footer__title") Start recording your story
      div(class="footer__order")
        div(class="footer__order-part footer__order-part--left")
          div(class="footer__bar")
          svg(class="footer__square" width="18" height="12")
            rect(width="18" height="12")
        a(href="https://shop.gopro.com/EMEA/cameras/hero6-black/CHDHX-601-master.html" target="_blank" title="Order now" class="footer__cta") Order now
        div(class="footer__order-part footer__order-part--right")
          div(class="footer__bar")
          svg(class="footer__square" width="18" height="12")
            rect(width="18" height="12")
    div(class="footer__copyright")
      p(class="footer__legal") © 2017. GoPro, Inc. All rights reserved.