div(class="join-community")
  div(class="join-community__visual")
    div(class="join-community__globe")
  div(class="join-community__content")
    div(class="container")
      h2(class="join-community__title") Join the community
      div(class="separator separator--left separator--black")
        div(class="separator__container")
          svg(class="separator__square" width="18" height="12")
            rect(width="18" height="12")
          div(class="separator__bar")
      p(class="join-community__description") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat.
      div(class="join-community__elements")