div(class="photo-quality")
  div(class="photo-quality__content")
    div(class="container")
      h2(class="photo-quality__title") Photo quality
      div(class="separator")
        div(class="separator__container")
          svg(class="separator__square" width="18" height="12")
            rect(width="18" height="12")
          div(class="separator__bar")
      p(class="photo-quality__description") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta.
  div(class="photo-quality__illustration")
    div(class="photo-quality__shape") 
    div(class="photo-quality__sliders")
      div(class="bubbles bubbles--first")
        div(class="bubbles__mover")
          div(class="bubbles__wrapper")
            div(class="bubbles__element")
              img(data-src="assets/img/gopro-hero6-moment-1.jpg" data-srcset="assets/img/gopro-hero6-moment-1@320w.jpg 320w, assets/img/gopro-hero6-moment-1@560w.jpg 560w, assets/img/gopro-hero6-moment-1@720w.jpg 720w, assets/img/gopro-hero6-moment-1@1280w.jpg 1280w, assets/img/gopro-hero6-moment-1@1920w.jpg 1920w" class="lazyload u-object-fit")
            div(class="bubbles__element")
              img(data-src="assets/img/gopro-hero6-moment-2.jpg" data-srcset="assets/img/gopro-hero6-moment-2@320w.jpg 320w, assets/img/gopro-hero6-moment-2@560w.jpg 560w, assets/img/gopro-hero6-moment-2@720w.jpg 720w, assets/img/gopro-hero6-moment-2@1280w.jpg 1280w, assets/img/gopro-hero6-moment-2@1920w.jpg 1920w" class="lazyload u-object-fit")
            div(class="bubbles__element")
              img(data-src="assets/img/gopro-hero6-moment-3.jpg" data-srcset="assets/img/gopro-hero6-moment-3@320w.jpg 320w, assets/img/gopro-hero6-moment-3@560w.jpg 560w, assets/img/gopro-hero6-moment-3@720w.jpg 720w, assets/img/gopro-hero6-moment-3@1280w.jpg 1280w, assets/img/gopro-hero6-moment-3@1920w.jpg 1920w" class="lazyload u-object-fit")
            div(class="bubbles__element")
              img(data-src="assets/img/gopro-hero6-moment-4.jpg" data-srcset="assets/img/gopro-hero6-moment-4@320w.jpg 320w, assets/img/gopro-hero6-moment-4@560w.jpg 560w, assets/img/gopro-hero6-moment-4@720w.jpg 720w, assets/img/gopro-hero6-moment-4@1280w.jpg 1280w, assets/img/gopro-hero6-moment-4@1920w.jpg 1920w" class="lazyload u-object-fit")
            div(class="bubbles__element")
              img(data-src="assets/img/gopro-hero6-moment-5.jpg" data-srcset="assets/img/gopro-hero6-moment-5@320w.jpg 320w, assets/img/gopro-hero6-moment-5@560w.jpg 560w, assets/img/gopro-hero6-moment-5@720w.jpg 720w, assets/img/gopro-hero6-moment-5@1280w.jpg 1280w, assets/img/gopro-hero6-moment-5@1920w.jpg 1920w" class="lazyload u-object-fit")
      div(class="bubbles bubbles--second")
        div(class="bubbles__mover")
          div(class="bubbles__wrapper")
            div(class="bubbles__element")
              img(data-src="assets/img/gopro-hero6-moment-6.jpg" data-srcset="assets/img/gopro-hero6-moment-6@320w.jpg 320w, assets/img/gopro-hero6-moment-6@560w.jpg 560w, assets/img/gopro-hero6-moment-6@720w.jpg 720w, assets/img/gopro-hero6-moment-6@1280w.jpg 1280w, assets/img/gopro-hero6-moment-6@1920w.jpg 1920w" class="lazyload u-object-fit")
            div(class="bubbles__element")
              img(data-src="assets/img/gopro-hero6-moment-7.jpg" data-srcset="assets/img/gopro-hero6-moment-7@320w.jpg 320w, assets/img/gopro-hero6-moment-7@560w.jpg 560w, assets/img/gopro-hero6-moment-7@720w.jpg 720w, assets/img/gopro-hero6-moment-7@1280w.jpg 1280w, assets/img/gopro-hero6-moment-7@1920w.jpg 1920w" class="lazyload u-object-fit")
            div(class="bubbles__element")
              img(data-src="assets/img/gopro-hero6-moment-8.jpg" data-srcset="assets/img/gopro-hero6-moment-8@320w.jpg 320w, assets/img/gopro-hero6-moment-8@560w.jpg 560w, assets/img/gopro-hero6-moment-8@720w.jpg 720w, assets/img/gopro-hero6-moment-8@1280w.jpg 1280w, assets/img/gopro-hero6-moment-8@1920w.jpg 1920w" class="lazyload u-object-fit")
            div(class="bubbles__element")
              img(data-src="assets/img/gopro-hero6-moment-9.jpg" data-srcset="assets/img/gopro-hero6-moment-9@320w.jpg 320w, assets/img/gopro-hero6-moment-9@560w.jpg 560w, assets/img/gopro-hero6-moment-9@720w.jpg 720w, assets/img/gopro-hero6-moment-9@1280w.jpg 1280w, assets/img/gopro-hero6-moment-9@1920w.jpg 1920w" class="lazyload u-object-fit")
            div(class="bubbles__element")
              img(data-src="assets/img/gopro-hero6-moment-10.jpg" data-srcset="assets/img/gopro-hero6-moment-10@320w.jpg 320w, assets/img/gopro-hero6-moment-10@560w.jpg 560w, assets/img/gopro-hero6-moment-10@720w.jpg 720w, assets/img/gopro-hero6-moment-10@1280w.jpg 1280w, assets/img/gopro-hero6-moment-10@1920w.jpg 1920w" class="lazyload u-object-fit")
