div(class="quickstories")
  div(class="quickstories__container")
    div(class="quickstories__illustration")
      div(class="quickstories__phone")
        img(class="quickstories__mockup" src="assets/img/mockup.png" data-srcset="assets/img/mockup@320w.png 320w, assets/img/mockup@560w.png 560w, assets/img/mockup@720w.png 720w, assets/img/mockup@1280w.png 1280w, assets/img/mockup@1920w.png 1920w")
        div(class="quickstories__sources")
          img(data-src="assets/img/gopro-quickstories.jpg" data-srcset="assets/img/gopro-quickstories@320w.jpg 320w, assets/img/gopro-quickstories@560w.jpg 560w, assets/img/gopro-quickstories@720w.jpg 720w, assets/img/gopro-quickstories@1280w.jpg 1280w, assets/img/gopro-quickstories@1920w.jpg 1920w" class="lazyload quickstories__source")
          video(class="quickstories__source quickstories__source--1 lazyload" data-src="assets/video/quickstories-1.mp4" playsinline loop)
          video(class="quickstories__source quickstories__source--2 lazyload" data-src="assets/video/quickstories-2.mp4" playsinline loop)
          video(class="quickstories__source quickstories__source--3 lazyload" data-src="assets/video/quickstories-3.mp4" playsinline loop)
    div(class="quickstories__content")
      div(class="quickstories__steps")
        div(class="quickstories__step quickstories__step--1")
          h3(class="quickstories__step-title") Capture the moment
          div(class="quickstories__step-description-container")
            p(class="quickstories__step-description") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed.
        div(class="quickstories__step quickstories__step--2")
          h3(class="quickstories__step-title") Make it awesome
          div(class="quickstories__step-description-container")
            p(class="quickstories__step-description") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed.
        div(class="quickstories__step quickstories__step--3")
          h3(class="quickstories__step-title") Share it everywhere
          div(class="quickstories__step-description-container")
            p(class="quickstories__step-description") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed.