div(class="share-story")
  div(class="container")
    div(class="share-story__visual")
      img(class="share-story__source" src="assets/img/gopro.png" data-srcset="assets/img/gopro@320w.png 320w, assets/img/gopro@560w.png 560w, assets/img/gopro@720w.png 720w, assets/img/gopro@1280w.png 1280w, assets/img/gopro@1920w.png 1920w" data-preload)
      div(class="share-story__clouds")
        div(class="share-story__cloud share-story__cloud--1")
          img(data-src="assets/img/gopro-share-story-1.jpg" data-srcset="assets/img/gopro-share-story-1@320w.jpg 320w, assets/img/gopro-share-story-1@560w.jpg 560w, assets/img/gopro-share-story-1@720w.jpg 720w, assets/img/gopro-share-story-1@1280w.jpg 1280w, assets/img/gopro-share-story-1@1920w.jpg 1920w" class="lazyload u-object-fit")
        div(class="share-story__cloud share-story__cloud--2")
          img(data-src="assets/img/gopro-share-story-2.jpg" data-srcset="assets/img/gopro-share-story-2@320w.jpg 320w, assets/img/gopro-share-story-2@560w.jpg 560w, assets/img/gopro-share-story-2@720w.jpg 720w, assets/img/gopro-share-story-2@1280w.jpg 1280w, assets/img/gopro-share-story-2@1920w.jpg 1920w" class="lazyload u-object-fit")
        div(class="share-story__cloud share-story__cloud--3")
          img(data-src="assets/img/gopro-share-story-3.jpg" data-srcset="assets/img/gopro-share-story-3@320w.jpg 320w, assets/img/gopro-share-story-3@560w.jpg 560w, assets/img/gopro-share-story-3@720w.jpg 720w, assets/img/gopro-share-story-3@1280w.jpg 1280w, assets/img/gopro-share-story-3@1920w.jpg 1920w" class="lazyload u-object-fit")
        div(class="share-story__cloud share-story__cloud--4")
          img(data-src="assets/img/gopro-share-story-4.jpg" data-srcset="assets/img/gopro-share-story-4@320w.jpg 320w, assets/img/gopro-share-story-4@560w.jpg 560w, assets/img/gopro-share-story-4@720w.jpg 720w, assets/img/gopro-share-story-4@1280w.jpg 1280w, assets/img/gopro-share-story-4@1920w.jpg 1920w" class="lazyload u-object-fit")
        div(class="share-story__cloud share-story__cloud--5")
          img(data-src="assets/img/gopro-share-story-5.jpg" data-srcset="assets/img/gopro-share-story-5@320w.jpg 320w, assets/img/gopro-share-story-5@560w.jpg 560w, assets/img/gopro-share-story-5@720w.jpg 720w, assets/img/gopro-share-story-5@1280w.jpg 1280w, assets/img/gopro-share-story-5@1920w.jpg 1920w" class="lazyload u-object-fit")
        div(class="share-story__cloud share-story__cloud--6")
          img(data-src="assets/img/gopro-share-story-6.jpg" data-srcset="assets/img/gopro-share-story-6@320w.jpg 320w, assets/img/gopro-share-story-6@560w.jpg 560w, assets/img/gopro-share-story-6@720w.jpg 720w, assets/img/gopro-share-story-6@1280w.jpg 1280w, assets/img/gopro-share-story-6@1920w.jpg 1920w" class="lazyload u-object-fit")
    div(class="share-story__content")
      h2(class="share-story__title") Share your story
      div(class="separator separator--left")
        div(class="separator__container")
          svg(class="separator__square" width="18" height="12")
            rect(width="18" height="12")
          div(class="separator__bar")
      p(class="share-story__description") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat.