div(class="touch-zoom")
  div(class="container")
    div(class="touch-zoom__content")
      h2(class="touch-zoom__title") Touch Zoom
      div(class="separator")
        div(class="separator__container")
          svg(class="separator__square" width="18" height="12")
            rect(width="18" height="12")
          div(class="separator__bar")
      p(class="touch-zoom__description") Bring the world forward with a simple gesture. The touch zoom feature allows you to get those shots from afar without putting yourself at risk. Don’t be a fool be a Hero!
  div(class="touch-zoom__view")
    div(class="touch-zoom__controls")
      div(class="touch-zoom__pointer")
        div(class="touch-zoom__point")
          svg(width='27px', height='13px', viewbox='0 0 27 13', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g(transform='translate(-1341.000000, -9511.000000)', fill-rule='nonzero', fill='#00A4DA')
                g(transform='translate(1315.000000, 9195.000000)')
                  g(transform='translate(0.000000, 283.000000)')
                    g(transform='translate(39.500000, 39.500000) rotate(-90.000000) translate(-39.500000, -39.500000) translate(33.000000, 26.000000)')
                      path(d='M0,27 L3.33333333,27 L3.33333333,0 L0,0 L0,27 Z M9.66666667,0 L9.66666667,27 L13,27 L13,0 L9.66666667,0 Z')
      div(class="touch-zoom__end")
      div(class="touch-zoom__line")
      div(class="touch-zoom__start")
    div(class="touch-zoom__source")
      img(data-src="assets/img/gopro-snowboard-man.jpg" data-srcset="assets/img/gopro-snowboard-man@320w.jpg 320w, assets/img/gopro-snowboard-man@560w.jpg 560w, assets/img/gopro-snowboard-man@720w.jpg 720w, assets/img/gopro-snowboard-man@1280w.jpg 1280w, assets/img/gopro-snowboard-man@1920w.jpg 1920w" class="lazyload u-object-fit")
