div(class="touch-zoom")
  div(class="container")
    div(class="touch-zoom__content")
      h2(class="touch-zoom__title") Touch Zoom
      p(class="touch-zoom__description") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta.
  div(class="touch-zoom__view")
    div(class="touch-zoom__controls")
      div(class="touch-zoom__pointer")
        div(class="touch-zoom__point")
      div(class="touch-zoom__end")
      div(class="touch-zoom__line")
      div(class="touch-zoom__start")
    div(class="touch-zoom__source" style="background-image: url('assets/img/gopro-snowboard-man.jpg');")
