div(class="voice-controls")
  div(class="voice-controls__content")
    h2(class="voice-controls__title") Engage with your GoPro
    p(class="voice-controls__description") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta.
  div(class="voice-controls__container")
    div(class="voice-controls__part voice-controls__part--one")
      div(class="voice-controls__part-illustration")
        div(class="voice-controls__part-source")
          img(data-src="assets/img/gopro-slopestyle.jpg" class="lazyload u-object-fit")
      div(class="voice-controls__part-explanation")
    div(class="voice-controls__part voice-controls__part--two")
      div(class="voice-controls__part-illustration")
        div(class="voice-controls__part-source")
          img(data-src="assets/img/gopro-slopestyle.jpg" class="lazyload u-object-fit")
      div(class="voice-controls__part-explanation")
    div(class="voice-controls__part voice-controls__part--three")
      div(class="voice-controls__part-illustration")
        div(class="voice-controls__part-source")
          img(data-src="assets/img/gopro-slopestyle.jpg" class="lazyload u-object-fit")
      div(class="voice-controls__part-explanation")
    div(class="voice-controls__part voice-controls__part--four")
      div(class="voice-controls__part-illustration")
        div(class="voice-controls__part-source")
          img(data-src="assets/img/gopro-slopestyle.jpg" class="lazyload u-object-fit")
      div(class="voice-controls__part-explanation")
