div(class="voice-controls")
  div(class="voice-controls__container")
    div(class="voice-controls__part voice-controls__part--one")
      div(class="voice-controls__part-illustration")
        div(class="voice-controls__part-source" data-background="assets/img/gopro-slopestyle.jpg")
      div(class="voice-controls__part-explanation")
    div(class="voice-controls__part voice-controls__part--two")
      div(class="voice-controls__part-illustration")
        div(class="voice-controls__part-source" data-background="assets/img/gopro-slopestyle.jpg")
      div(class="voice-controls__part-explanation")
    div(class="voice-controls__part voice-controls__part--three")
      div(class="voice-controls__part-illustration")
        div(class="voice-controls__part-source" data-background="assets/img/gopro-slopestyle.jpg")
      div(class="voice-controls__part-explanation")
    div(class="voice-controls__part voice-controls__part--four")
      div(class="voice-controls__part-illustration")
        div(class="voice-controls__part-source" data-background="assets/img/gopro-slopestyle.jpg")
      div(class="voice-controls__part-explanation")
