div(class="voice-controls")
  div(class="voice-controls__content")
    h2(class="voice-controls__title") Voice controls
    p(class="voice-controls__description") 
      span(class="voice-controls__description-wrapper") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in.
    div(class="voice-controls__button-container")
      div(class="voice-controls__button")
        div(class="voice-controls__button-content")
          svg(class="close" width='14px', height='14px', viewbox='0 0 20 20', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g(transform='translate(-711.000000, -12678.000000)', fill-rule='nonzero', fill='#00A4DA')
                g(transform='translate(681.000000, 12648.000000)')
                  g(transform='translate(23.000000, 23.000000)')
                    polygon(points='27 9.01428571 24.9857143 7 17 14.9857143 9.01428571 7 7 9.01428571 14.9857143 17 7 24.9857143 9.01428571 27 17 19.0142857 24.9857143 27 27 24.9857143 19.0142857 17')
          svg(class="open" width='11px', height='14px', viewbox='0 0 11 14', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g(transform='translate(-56.000000, -245.000000)', fill='#000000')
                g(transform='translate(48.000000, 240.000000)')
                    polygon(points='8 5 8 19 19 12')
  div(class="voice-controls__container")
    div(class="voice-controls__part voice-controls__part--one")
      div(class="voice-controls__part-illustration")
        div(class="voice-controls__part-source")
          img(data-src="assets/img/gopro-slopestyle.jpg" data-srcset="assets/img/gopro-slopestyle@320w.jpg 320w, assets/img/gopro-slopestyle@560w.jpg 560w, assets/img/gopro-slopestyle@720w.jpg 720w, assets/img/gopro-slopestyle@1280w.jpg 1280w, assets/img/gopro-slopestyle@1920w.jpg 1920w" class="lazyload u-object-fit")
      div(class="voice-controls__part-explanation")
        div(class="voice-controls__part-content")
          h3(class="voice-controls__part-title") That was sick
          p(class="voice-controls__part-description")
            span(class="voice-controls__part-description-wrapper") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
    div(class="voice-controls__part voice-controls__part--two")
      div(class="voice-controls__part-illustration")
        div(class="voice-controls__part-source")
          img(data-src="assets/img/gopro-slopestyle.jpg" data-srcset="assets/img/gopro-slopestyle@320w.jpg 320w, assets/img/gopro-slopestyle@560w.jpg 560w, assets/img/gopro-slopestyle@720w.jpg 720w, assets/img/gopro-slopestyle@1280w.jpg 1280w, assets/img/gopro-slopestyle@1920w.jpg 1920w" class="lazyload u-object-fit")
      div(class="voice-controls__part-explanation")
        div(class="voice-controls__part-content")
          h3(class="voice-controls__part-title") That was sick
          p(class="voice-controls__part-description")
            span(class="voice-controls__part-description-wrapper") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
    div(class="voice-controls__part voice-controls__part--three")
      div(class="voice-controls__part-illustration")
        div(class="voice-controls__part-source")
          img(data-src="assets/img/gopro-slopestyle.jpg" data-srcset="assets/img/gopro-slopestyle@320w.jpg 320w, assets/img/gopro-slopestyle@560w.jpg 560w, assets/img/gopro-slopestyle@720w.jpg 720w, assets/img/gopro-slopestyle@1280w.jpg 1280w, assets/img/gopro-slopestyle@1920w.jpg 1920w" class="lazyload u-object-fit")
      div(class="voice-controls__part-explanation")
        div(class="voice-controls__part-content")
          h3(class="voice-controls__part-title") That was sick
          p(class="voice-controls__part-description")
            span(class="voice-controls__part-description-wrapper") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
    div(class="voice-controls__part voice-controls__part--four")
      div(class="voice-controls__part-illustration")
        div(class="voice-controls__part-source")
          img(data-src="assets/img/gopro-slopestyle.jpg" data-srcset="assets/img/gopro-slopestyle@320w.jpg 320w, assets/img/gopro-slopestyle@560w.jpg 560w, assets/img/gopro-slopestyle@720w.jpg 720w, assets/img/gopro-slopestyle@1280w.jpg 1280w, assets/img/gopro-slopestyle@1920w.jpg 1920w" class="lazyload u-object-fit")
      div(class="voice-controls__part-explanation")
        div(class="voice-controls__part-content")
          h3(class="voice-controls__part-title") That was sick
          p(class="voice-controls__part-description")
            span(class="voice-controls__part-description-wrapper") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
