div(class="wide-angle")
  div(class="wide-angle__shape")
  div(class="wide-angle__shape2-container")
    div(class="wide-angle__shape2")
  div(class="container")
    div(class="wide-angle__content")
      h2(class="wide-angle__title") Wide angle
      p(class="wide-angle__description") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta.
  div(class="wide-angle__illustration")
    div(class="wide-angle__border-right")
    div(class="wide-angle__border-left")
    div(class="wide-angle__source")
      img(data-src="assets/img/gopro-wide-angle.jpg" class="lazyload u-object-fit")