div(class="wide-angle")
  div(class="wide-angle__shape")
  div(class="wide-angle__shape2-container")
    div(class="wide-angle__shape2")
  div(class="container")
    div(class="wide-angle__content")
      h2(class="wide-angle__title") Photo quality
      p(class="wide-angle__description") Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta.