div(class="wide-angle")
  div(class="wide-angle__shape")
  div(class="wide-angle__shape2-container")
    div(class="wide-angle__shape2")
  div(class="container")
    div(class="wide-angle__content")
      h2(class="wide-angle__title") Wide angle
      div(class="separator separator--left")
        div(class="separator__container")
          svg(class="separator__square" width="18" height="12")
            rect(width="18" height="12")
          div(class="separator__bar")
      p(class="wide-angle__description") Stretch the horizon, build your landscape and capture the moment. Bringing you a wide angled view through it’s enhanced lens take your Gopro anywhere and relive your experiences in its entirety.
  div(class="wide-angle__illustration")
    div(class="wide-angle__border-right")
    div(class="wide-angle__border-left")
    div(class="wide-angle__source")
      img(data-src="assets/img/gopro-wide-angle.jpg" data-srcset="assets/img/gopro-wide-angle@320w.jpg 320w, assets/img/gopro-wide-angle@560w.jpg 560w, assets/img/gopro-wide-angle@720w.jpg 720w, assets/img/gopro-wide-angle@1280w.jpg 1280w, assets/img/gopro-wide-angle@1920w.jpg 1920w" class="lazyload u-object-fit")