.loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #161718;
  z-index: $zindex-7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #fff;
}