.separator {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex: 1;

  @include responsive($md) {
    justify-content: flex-end;
  }

  &--left {
    @include responsive($md) {
      justify-content: flex-start;
    }
  }

  &--black {
    .separator__bar {
      background-color: $separator-black;
    }

    .separator__square {
      stroke: $separator-black;
    }
  }
}

.separator__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 260px;
}

.separator__square {
  fill: none;
  stroke-dasharray: 170px;
  stroke-dashoffset: 170px;
  stroke-width: 2px;
  stroke: $separator-white;
}

.separator__bar {
  height: 1px;
  flex: 1;
  background-color: $separator-white;
  transform: scaleX(0);
  transform-origin: left;
}
