.footer {
  margin-top: -1px;
  padding: 60px 0px 30px 0px;
  background-color: $black-background;
  overflow-x: hidden;

  @include responsive($md) {
    padding: 120px 0px 30px 0px;
  }
}

.footer__content {
  padding: 0px 20px 120px 20px;
  text-align: center;
}

.footer__title {
  margin: 0 auto;
  margin-bottom: 14px;
  color: #fff;
  font-size: 4.3em;

  @include responsive($sm) {
    margin-bottom: 0px;
    font-size: 5.4em;
  }

  @include responsive($md) {
    max-width: 400px;
    font-size: 6em;
  }
}

.footer__order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.footer__cta {
  display: inline-block;
  margin: 0px 40px;
  padding: 20px 30px 12px 30px;
  color: $black;
  background-color: #fff;
  font-family: $heading-font;
  font-size: 1.5em;
  text-transform: uppercase;
}

.footer__order-part {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 2;
  display: none;

  @include responsive($md) {
    display: flex;
  }

  &--right {
    flex-direction: row-reverse;
  }
}

.footer__bar {
  width: calc(100% - 18px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.footer__square {
  stroke: rgba(255, 255, 255, 0.2);
}

.footer__copyright {
  margin-top: 30px;
}

.footer__legal {
  color: rgba(255, 255, 255, 0.14);
}
