.join-community {
  position: relative;
	padding: 120px 0px 120px 0px;
	width: 100%;
	overflow: hidden;
  background-color: #080808;
  display: flex;
  flex-direction: column-reverse;

	@include responsive($xs) {
		padding: 160px 0px 160px 0px;
	}

	@include responsive($lg) {
		padding: 260px 0px 80px 0px;
		flex-direction: row;
	}
}

.join-community__visual {
	overflow: hidden;

	@include responsive($lg) {
		width: 50%;
	}
}

.join-community__globe {
	position: relative;

	@include responsive($lg) {
		transform: translateX(-70%);
	}
}

.join-community__marker {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	width: 26px;
	height: 26px;
	transform: rotate(45deg);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: none;

	&.hidden {
		pointer-events: none;

		.join-community__marker-circle {
			transform: translate(-50%, -50%) scale(0.7);
			opacity: 0.15;
		}

		.join-community__marker-dots {
			transform: translate(-50%, -50%) scale(0.7) rotate(45deg);
			opacity: 0.15;
		}
	}

	&.active {
		pointer-events: none;		
	}

	&.active, &:hover {
		.join-community__marker-circle {
			transform: translate(-50%, -50%) scale(1.1);
			background-color: $main-color;
			transition-delay: 0.4s;
		}

		.join-community__marker-dots {
			transform: translate(-50%, -50%) scale(1.1) rotate(-45deg);
			border-color: $main-color;
			transition-delay: 0.4s;
		}
	}

	&:hover {
		.join-community__marker-circle,
		.join-community__marker-dots {
			transition-delay: 0s;			
		}
	}
}

.join-community__marker-content {
	position: relative;
}

.join-community__marker-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 50%;
	transition: $transition;
}

.join-community__marker-dots {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 2px dotted #fff;
	transition: $transition;
}

.join-community__content {
  margin-bottom: 40px;
	color: #fff;
	
	@include responsive($lg) {
		width: 50%;
		display: flex;
		align-content: center;
	}
}

.join-community__title {
	font-size: 5em;
	margin-bottom: 14px;

  @include responsive($sm) {
		font-size: 5.4em;
		width: 60%;
		margin-bottom: 0px;
	}

	@include responsive($md) {
		font-size: 6em;
		max-width: 400px;
	}
}

.join-community__description {
  margin-top: 30px;
  font-size: 1.2em;
	color: #fff;

	@include responsive($lg) {
		max-width: 500px;		
	}
}

.join-community__elements {
	width: 100%;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	@include responsive($lg) {
		flex-direction: row;
	}
}

.join-community__element {
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;

	@include responsive($lg) {
		width: 50%;
	}
}

.join-community__element-left {
	width: 60px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.join-community__element-date {
	width: 50px;
	height: 50px;
	border: 1px solid $main-color;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;

	span {
		display: inline-block;
	}
}

.join-community__element-month {
	font-size: 0.8em;
	line-height: 1;
}

.join-community__element-day {
	line-height: 1;
	font-size: 1.4em;
	margin-bottom: -4px;
}

.join-community__element-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	color: #fff;
}

.join-community__element-name {
	font-size: 1.1em;
	font-weight: bold;
	padding-bottom: 4px;
}

.join-community__element-location {
	color: #7d7d7d;
}
