.photo-quality {
  padding-bottom: 40px;
  overflow: hidden;

  .separator {
		flex: 1;
		margin-bottom: 30px;

		@include responsive($md) {
			display: none;
		}

		@include responsive($xl) {
			display: flex;
		}
	}

	.separator__container {
		padding-left: 10px;
		padding-right: 40px;
		padding-bottom: 8px;
	}
}

.photo-quality__illustration {
  position: relative;
  padding-top: 40px;
}

.photo-quality__shape {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 30vw;
  height: 1400px;
  background-color: $black-background;
  transform-origin: left;
  transform: skewX($angle);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    display: block;
    width: 140%;
    height: 100%;
    background-color: $black-background;
    transform: translateX(-100%)
  }

  @include responsive($md) {
    display: block;
  }
}

.photo-quality__content {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: $black-background;

  @include responsive($lg) {
    padding-top: 160px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    
    @include responsive($md) {
      flex-direction: row;
      align-items: flex-end;
    }
  }
}

.photo-quality__description {
  margin-top: 30px;
  color: $light-grey;
  font-size: 1.2em;

  @include responsive($md) {
    max-width: 60%;
  }

  @include responsive($lg) {
    max-width: 500px;
  }
}

.photo-quality__title {
  margin-bottom: 14px;
  color: #fff;
  font-size: 4.4em;

  @include responsive($sm) {
		font-size: 5.4em;
	}

	@include responsive($md) {
    max-width: 400px;
    margin-bottom: 0px;
    font-size: 6em;
	}
}