.share-story {
	position: relative;
	padding: 120px 0px 120px 0px;
	width: 100%;
	overflow: hidden;

	@include responsive($xs) {
		padding: 160px 0px 160px 0px;
  }
  
  @include responsive($sm) {
    padding: 260px 0px 120px 0px;
  }
  
  @include responsive($md) {
    padding: 320px 0px 320px 0px;
  }

	@include responsive($lg) {
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
	}
}

.share-story__content {
  width: 100%;

  @include responsive($lg) {
    width: 40%;
    margin-bottom: 40px;
  }
}

.share-story__title {
	font-size: 4.4em;
	margin-bottom: 14px;

  @include responsive($sm) {
		font-size: 5.4em;
		width: 60%;
		margin-bottom: 0px;
	}

	@include responsive($md) {
    width: 100%;
		font-size: 6em;
		max-width: 370px;
	}
}

.share-story__description {
  margin-top: 30px;
  font-size: 1.2em;
	color: $grey;

	@include responsive($lg) {
		max-width: 500px;		
	}
}

.share-story__visual {
  position: relative;
  width: 100%;
  margin-bottom: 80px;
  text-align: center;

  @include responsive($sm) {
    margin-bottom: 280px;
  }
  
  @include responsive($lg) {
    width: 60%;
    margin-bottom: 0px;
    margin-right: 40px;
  }
}

.share-story__source {
  width: 100%;
  height: auto;
  z-index: 2;
  max-width: 400px;
  
  @include responsive($lg) {
    max-width: 520px;
  }
}

.share-story__clouds {
  display: none;

  @include responsive($sm) {
    display: block;
  }
}

.share-story__cloud {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 300px;
  height: 175px;

  &--1 {
    transform: translate(calc(-50% - 170px), calc(-50% - 130px)) scale(0.7);
    
    @include responsive($md) {
      transform: translate(calc(-50% - 150px), calc(-50% - 130px)) scale(0.7);
    }
    
    @include responsive($lg) {
      transform: translate(calc(-50% - 230px), calc(-50% - 170px)) scale(1);
    }
  }

  &--2 {
    transform: translate(calc(-50% - 10px), calc(-50% - 250px)) scale(0.5);
    
    @include responsive($md) {
      transform: translate(calc(-50% - 10px), calc(-50% - 250px)) scale(0.5);
    }
    
    @include responsive($lg) {
      transform: translate(calc(-50% - 10px), calc(-50% - 350px)) scale(0.75);
    }
  }

  &--3 {
    transform: translate(calc(-50% + 160px), calc(-50% - 150px)) scale(0.5);
    
    @include responsive($md) {
      transform: translate(calc(-50% + 160px), calc(-50% - 190px)) scale(0.5);
    }
    
    @include responsive($lg) {
      transform: translate(calc(-50% + 180px), calc(-50% - 190px)) scale(0.75);
    }
  }

  &--4 {
    transform: translate(calc(-50% - 180px), calc(-50% + 90px)) scale(0.5);
    
    @include responsive($md) {
      transform: translate(calc(-50% - 170px), calc(-50% + 100px)) scale(0.5);
    }
    
    @include responsive($lg) {
      transform: translate(calc(-50% - 220px), calc(-50% + 100px)) scale(0.75);
    }
  }

  &--5 {
    transform: translate(calc(-50% - 130px), calc(-50% + 230px)) scale(0.7);
    
    @include responsive($md) {
      transform: translate(calc(-50% - 170px), calc(-50% + 240px)) scale(0.7);
    }
    
    @include responsive($lg) {
      transform: translate(calc(-50% - 170px), calc(-50% + 300px)) scale(1);
    }
  }

  &--6 {
    transform: translate(calc(-50% + 150px), calc(-50% + 120px)) scale(0.7);
    
    @include responsive($md) {
      transform: translate(calc(-50% + 150px), calc(-50% + 120px)) scale(0.7);
    }
    
    @include responsive($lg) {
      transform: translate(calc(-50% + 160px), calc(-50% + 150px)) scale(1);
    }
  }
}
