.touch-zoom {
  padding-top: 120px;

  @include responsive($md) {
    padding-top: 200px;
  }
}

.touch-zoom__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  justify-content: space-between;

  @include responsive($md) {
    flex-direction: row;
	}
	
	.separator {
		flex: 1;

		@include responsive($md) {
			display: none;
		}

		@include responsive($xl) {
			display: flex;

			.separator__container {
				padding-left: 10px;
				padding-right: 40px;
				padding-bottom: 8px;
			}
		}
	}
}

.touch-zoom__description {
  font-size: 1.2em;
  color: $grey;
  margin-top: 30px;

  @include responsive($md) {
    max-width: 60%;
  }

  @include responsive($lg) {
    max-width: 500px;
  }
}

.touch-zoom__title {
  font-size: 5em;
  margin-bottom: 14px;

  @include responsive($sm) {
		font-size: 5.4em;
	}

	@include responsive($md) {
    font-size: 6em;
    max-width: 500px;
	}
}

.touch-zoom__view {
	position: relative;
	width: 100vw;
	height: 90vh;
	perspective: 1400px;
	overflow: hidden;
	background-color: $light-white;
	
	@include responsive($md) {
    height: 100vh;
  }
}

.touch-zoom__controls {
	position: absolute;
	top: 50%;
	right: 40px;
	z-index: 30;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: translateY(-50%);
}

.touch-zoom__start {
	width: 6px;
	height: 6px;
	background-color: #fff;
	transform: rotate(45deg);
	z-index: -1;
}

.touch-zoom__line {
	width: 2px;
	height: 170px;
	background-color: rgba(255, 255, 255, 0.9);
}

.touch-zoom__end {
	width: 10px;
	height: 14px;
	border: 2px solid rgba(255, 255, 255, 0.9);
}

.touch-zoom__pointer {
	position: absolute;
	bottom: -17px;
	background-color: #fff;
	border-radius: 50%;

	&:hover {
		cursor: pointer;
	}

	&:active {
		.touch-zoom__point:before {
			transform: scale(1.3);
		}		
	}
}

.touch-zoom__point {
	position: relative;
	width: 42px;
	height: 42px;
	border: 2px solid rgba(255, 255, 255, 0.9);
	border-radius: 50%;
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		transform: scale(0.7);
	}

	&:before {
		position: absolute;
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 1px solid #fff;
		transform: scale(1.4);
		transition: $transition;
	}
}

.touch-zoom__source {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transform: translate3d(0, 0, 30px) rotate3d(0, 0, 0, 10deg);

	img {
		transform: scale(1.1);
	}
}