.wide-angle {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 130px;

  .container {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.wide-angle__content {
  display: flex;
  flex-direction: column;

  @include responsive($md) {
    flex-direction: row;
  }

  @include responsive($lg) {
    flex-direction: column;
    padding-top: 360px;
  }

  .separator {
		flex: 1;

		@include responsive($md) {
			display: none;
		}

		@include responsive($xl) {
			display: flex;

			.separator__container {
				padding-left: 10px;
				padding-right: 40px;
				padding-bottom: 8px;
			}
		}
	}
}

.wide-angle__description {
  font-size: 1.2em;
  color: $grey;
  margin-top: 30px;

  @include responsive($md) {
    max-width: 60%;
  }

  @include responsive($lg) {
    max-width: 500px;
  }
}

.wide-angle__title {
  font-size: 5em;
  margin-bottom: 14px;
  color: $black;

  @include responsive($sm) {
		font-size: 5.4em;
	}

	@include responsive($md) {
    font-size: 6em;
    max-width: 300px;
    margin-bottom: 0px;
	}
}

.wide-angle__shape {
  position: absolute;
  top: 100px;
  left: 40vw;
  width: 45vw;
  height: 100px;
  background: linear-gradient(45deg, $main-color-light, $main-color);
  display: none;
  transform: skewX($angle);

  @include responsive($lg) {
    display: block;
  }
}

.wide-angle__shape2-container {
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  @include responsive($lg) {
    display: block;
  }
}

.wide-angle__shape2 {
  position: relative;
  top: 0;
  left: 0;
  width: 48vw;
  height: 600px;
  background-color: $black-background;
  transform-origin: left;
  transform: skewX($angle) translateX(0%);
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $black-background;
    transform: skewX(30deg) translateX(-60%);
  }
}

.wide-angle__illustration {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  perspective: 800px;
  background-color: $light-white;

  @include responsive($md) {
    height: 90vh;
  }
}

.wide-angle__source {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wide-angle__border-right,
.wide-angle__border-left {
  position: absolute;
}

.wide-angle__border-left {
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 100%;
  background-color: #fff;
  z-index: 2;
  transform-origin: left;
}

.wide-angle__border-right {
  top: 0;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 100%;
  background-color: #fff;
  z-index: 2;
  transform-origin: right;
}
