* {
	box-sizing: border-box;
}

html, body {
	font-family: $main-font;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	overflow-x: hidden;	
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
}

h1 { font-size: 2.6rem; }

h2 { font-size: 2.1rem; }

h3 { font-size: 1.75rem; }

h4 { font-size: 1.5rem; }

h5 { font-size: 1.25rem; }

h6 { font-size: 1rem; }

p {
	font-size: 1em;
	line-height: 1.5;
}

a {
	font-size: 1em;
	text-decoration: none;
	color: $main-color;
	transition: $transition;

	&:hover {
		color: $main-color-hover;
		transition: $transition;
	}
}

input:focus {
	outline: none;
}

::selection {
	background-color: $main-color;
	color: $white;
}

::-moz-selection {
	background-color: $main-color;
	color: $white;
}

.container {
	width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
	padding-right: 30px;
	max-width: 1350px;

	@include responsive($sm) {
		padding-left: 50px;
		padding-right: 50px;
		max-width: 1390px;
	}

	@include responsive($lg) {
		padding-left: 70px;
		padding-right: 70px;
		max-width: 1430px;
	}

	&--right {
		display: flex;
		flex-direction: column;

		@include responsive($lg) {
			flex-direction: row;
			justify-content: flex-end;
			align-items: flex-end;
		}
	}
}

.u-object-fit {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;'
}
