doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title GoPro HERO 6 Black - This Is the Moment in 4K
		meta(name="description", content="")
		meta(name='theme-color', content='#45C0F5')
		link(href="https://fonts.googleapis.com/css?family=Hind", rel="stylesheet")
		link(href="assets/css/app.min.css", rel="stylesheet", type="text/css")
		link(rel='apple-touch-icon', sizes='180x180', href='assets/img/apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='assets/img/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='assets/img/favicon-16x16.png')
		link(rel='icon', type='image/png', href='assets/img/favicon.ico')
	body
		include includes/_intro.pug
		include includes/_capture-the-moment.pug
		include includes/_design-black.pug
		include includes/_photo-quality.pug
		include includes/_slow-motion.pug
		include includes/_touch-zoom.pug
		include includes/_wide-angle.pug
		include includes/_share-story.pug
		include includes/_voice-controls.pug
		include includes/_quickstories.pug
		include includes/_join-community.pug
		include includes/_footer.pug

		script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.5/dat.gui.min.js")
		script(src="assets/js/bundle.js")
