@font-face {
  font-family: 'DIN Condensed';
  src: url('../font/DINCondensed-Bold.eot');
  src: url('../font/DINCondensed-Bold.eot?#iefix') format('embedded-opentype'),
      url('../font/DINCondensed-Bold.woff') format('woff'),
      url('../font/DINCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
